<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Download | InShare - File Sharing Made Easy</title>
  </head>
  <body>
    <a href="/"><img src="/images/logo.png" class="logo" alt="logo" /></a>

    <section class="download">
      <img
        src="/images/download.svg"
        alt="inshare-donwload"
        class="download__icon"
      />

      <% if(locals.error){%>
      <h4 style="color: red"><%= locals.error %></h4>
      <%} else {%>
      <h2>Your file is ready to download.</h2>
      <p>Link expires in 24 hours.</p>
      <div class="download__meta">
        <h4><%= filename %></h4>
        <span><%= parseInt(fileSize/1000) %> KB</span>
      </div>
      <div class="send-btn-container">
        <a href="<%= downloadLink %>">Download file</a>
      </div>
      <%}%>
    </section>

    <%- include('./githubLink') %>
  </body>
</html>
