<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>InShare - File Sharing Made Easy</title>
  </head>
  <body>
    <a href="/"><img src="/images/logo.png" class="logo" alt="logo" /></a>
    <section class="upload-container">
      <div class="drop-zone">
        <div class="icon-container">
          <img
            src="/images/file.svg"
            alt="file-icon"
            class="center"
            draggable="false"
          />
          <img
            src="/images/file.svg"
            alt="file-icon"
            class="left"
            draggable="false"
          />
          <img
            src="/images/file.svg"
            alt="file-icon"
            class="right"
            draggable="false"
          />
        </div>
        <input type="file" id="fileInput" name="myfile" />
        <div class="title">
          Drop your file here or, <span class="browseBtn">browse</span>
        </div>
      </div>

      <div class="progress-container">
        <div class="bg-progress"></div>
        <div class="inner-container">
          <div class="title">Uploading...</div>
          <div class="percent-container"><span id="percent">0</span></div>
          <div class="progress-bar"></div>
        </div>
      </div>

      <div class="sharing-container">
        <p>Link expires 24 hrs.</p>
        <div class="input-container">
          <input type="text" id="fileUrl" readonly />
          <img src="/images/copy-icon.svg" alt="copy-icon" id="copyBtn" />
        </div>
        <p>Or Send Via Email</p>
        <div class="email-container">
          <form id="emailForm">
            <div class="field">
              <label for="sender">Your's Email</label>
              <input id="sender" type="email" required name="fromEmail"></input>
            </div>
            <div class="field">
              <label for="receiver">Receiver's Email</label>
              <input id="receiver" type="email" required name="toEmail"></input>
            </div>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </section>
    <div class="upload-vector"></div>
    <div class="toast">Email copied</div>

    <%- include('./githubLink') %>
    <script src="/js/main.js"></script>
  </body>
</html>
