:root {
  --main-bg: #eff5fe;
  --border-color: #0288d147;
  --container-width: 500px;
}
body,
html {
  font-family: system-ui;
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body,
.drop-zone,
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  flex-direction: row;
}

.upload-container {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 20px 20px #0000002e;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  transition: all 200ms ease;
}

.dragged.drop-zone {
  background-color: var(--main-bg);
  border-color: #2196f3;
}
.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.8);
}

.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px) scale(0.9);
}
.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
}
.dragged .icon-container .center {
  transform: translateY(-5px);
}

#fileInput {
  display: none;
}

.browseBtn {
  color: #2196f3;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 150px;
}

.progress-container {
  position: relative;
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--main-bg);
  margin-bottom: 25px;
  border-radius: 10px;
  display: none;
}

.bg-progress {
  position: absolute;
  background-color: var(--main-bg);
  width: 0%;
  height: 100%;
  transform-origin: left;
  border-radius: 3%;
  transition: width 0.25s linear;
}

.inner-container {
  z-index: 1;
  position: absolute;
  margin: 10px 15px;
  width: calc(100% - 30px);
}

.percent-container {
  font-size: 13px;
  margin: 5px;
  opacity: 0.8;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s linear;
}

.sharing-container {
  width: var(--container-width);
  margin-bottom: 25px;
  display: none;
}

p {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 20px;
}
.sharing-container .input-container {
  position: relative;
}

.sharing-container .input-container input {
  width: 100%;
  border: 2px dashed var(--border-color);
  border-radius: 6px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 20px;
  background-color: var(--main-bg);
  color: #0000008c;
}

input:focus {
  outline: none;
}

.input-container img {
  position: absolute;
  height: 22px;
  width: 30px;
  right: 7px;
  top: 12px;
  background-color: #f7fdff;
  cursor: pointer;
}

.email-container {
  display: flex;
  align-items: center;
}

.email-container form {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 400px;
}

.email-container .field label {
  font-size: 18px;
}
.email-container .field input {
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--border-color);
  text-align: center;
}

.email-container button {
  font-size: 18px;
  padding: 8px 40px;
  margin-top: 15px;
  background-color: var(--main-bg);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #2196f3;
}

.toast {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 60px);
  color: #fff;
  background-color: #2196f3;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: transform 200ms ease-in-out;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.upload-vector {
  background: url("../images/undraw-upload.svg") no-repeat center;
  background-size: contain;
  height: 50vh;
  width: 50vw;
}

@media screen and (max-width: 900px) {
  :root {
    --container-width: 320px;
  }
  .upload-vector {
    display: none;
  }
  .email-container .field {
    flex-direction: column;
    width: 300px;
  }
}

section.download {
  background: #fff;
  width: 430px;
  max-width: 90%;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
  padding: 2rem;
  text-align: center;
}
.download__icon {
  height: 8rem;
}
.download__meta h4 {
  margin-bottom: 0;
  line-height: 1.3;
}
.send-btn-container a {
  display: inline-block;
  font-size: 18px;
  padding: 8px 40px;
  margin-top: 15px;
  background: #2196f3;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.send-btn-container a:hover {
  background: #2196f3;
}
